
*{
  margin: 0;
  color: white;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(14, 13, 13);
}
.navbar{
  padding: 6px;
  color: white;
  text-align: center;
  font-size: 30px;
  border-bottom: .5px solid white;
  
  background-color: rgb(11, 11, 11);
}